.header {
    box-shadow: 0px 5px 24px 1px rgba(0, 0, 0, 0.08);
    background: #fff;
    // .header__container

    &__container {
        margin: 0 auto;
        padding: 15px 112px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
