.kids {
    position: relative;
    margin-bottom: 70px;
    // .kids__top

    &__top {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h2 {
            max-width: 100%;
        }

        @media(max-width: 500px) {
            align-items: flex-start;
            h2 {
                max-width: 70%;
            }
        }
    }

    // .kids__cards

    &__cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr/* 320px */);
        margin: 61px 0 0;
        gap: 21px;
        justify-content: center;
        @media(max-width: 1380px) {
            gap: 15px;
        }

        @media (max-width: 999px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media(max-width: 595px) {
            grid-template-columns: 1fr;
        }
    }

    // .kids__card

    &__card {
        border: 3px solid #ecedee;
        border-radius: 10px;
        padding: 28px 35px 36px;

        h3 {
            margin-top: 25px;
            font-size: 24px;
            line-height: 26px;
            letter-spacing: -0.04em;
            color: #020334;
        }

        p {
            margin: 21px 0;
            font-size: 16px;
            line-height: 16px;
            color: #51525c;
        }

        ul {
            list-style-type: disc;
            padding-left: 30px;
            li {
                font-size: 16px;
                line-height: 16px;
                color: #51525c;
                max-width: 200px;
                margin-bottom: 5px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        
        @media(max-width: 1180px) {
            padding: 28px 16px 36px;
            &:hover {
                border-top: 5px solid #4c72f5;
            }
        }
    }

    // .kids__img

    &__img {
        display: inline-block;
        width: 90px;
        height: 90px;
    }
}
