.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // .logo_header

    // .logo__icon

    &__icon {
        background-image: url(../img/icons/header-logo.svg);
        width: 35px;
        height: 47px;
    }

    // .logo__title

    &__title {
        font-family: "Vinque";

        font-size: 32px;
        line-height: 50px;
        letter-spacing: -0.04em;
        color: #091524;
        padding-left: 10px;

    }

    &.logo_header {
    }

    &.logo_footer {
        justify-content: flex-start;
        .logo__icon {
            background-image: url(../img/icons/footer-logo.svg);
        }

        .logo__title {
            color: #f8fbff;
        }
    }
}
