.media {
    margin-bottom: 17px;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__title {
        margin-bottom: 27px;
    }

    &__arrows {
        display: flex;
        align-items: center;
        @media(max-width: 450px) {
            display: none;
        }
    }

}



