@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    /* src: url(../fonts/#{$file_name}.woff2) format("woff2"); */
    src: url(../fonts/#{$file_name}.woff) format("woff");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@import "fonts";

@import "normalize";

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.page {
  font-family: "Source Sans Pro";
  &__container {
    margin: 0 auto;
    padding: 0 15%;
    @media (max-width: 1919px) {
      padding: 0 30px;
    }

    @media (max-width: 1000px) {
      padding: 0 20px;
    }
    @media (max-width: 374px) {
      padding: 0 10px;
    }
  }
}

.subtitle {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  /* identical to box height, or 144% */

  color: #4c72f5;
}

.title {
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
  letter-spacing: -0.04em;
  color: #020334;
  padding-top: 5px;
  max-width: 390px;
}

@media (max-width: 650px) {
  .subtitle {
    font-size: 18px;
    line-height: 26px;
  }

  .title {
    font-size: 34px;
    line-height: 34px;
  }
}



@import "header";

@import "logo";

@import "nav";

@import "banner";

@import "about";

@import "events";

@import "kids";

@import "swiper";
@import "media";
@import "footer";
@import "popup";

.arrow {
  display: block;
  width: 43px;
  height: 43px;
  background-image: url(../img/icons/arrow.svg);
  background-size: 20%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 6px;
  border: 2px solid #ebebef;
  &:first-child {
    margin-right: 10px;
  }
  &.swiper-button-prev {
    transform: scale(-1, 1);
  }

  &:hover {
    cursor: pointer;
  }

  &.arrow_scroll {
    border: 2px solid #4c72f5;
    transform: rotate(-90deg);
    position: absolute;
    bottom: 5%;
    right: 8%;
    @media (max-width: 1919px) {
      bottom: -10%;
      right: 2%;
    }
    @media (max-width: 1000px) {
      display: none;
    }
  }
}
