<section class="media">
    <div class="page__container media__container">
        <div class="media__title">
            <h3 class="subtitle">Фотографии</h3>
            <h2 class="title">Галерея Храма</h2>
        </div>
        <div class="media__arrows">
            <div class="swiper-button-prev arrow "></div>
            <div class="swiper-button-next arrow "></div>
        </div>
    </div>

    <div class="swiper gallery">
        <div class="swiper-wrapper">
            <img src="../img/gallery/1.png" alt="Photo" class="swiper-slide">
            <img src="../img/gallery/2.png" alt="Photo" class="swiper-slide">
            <img src="../img/gallery/3.png" alt="Photo" class="swiper-slide">
            <img src="../img/gallery/4.png" alt="Photo" class="swiper-slide">
            <img src="../img/gallery/5.png" alt="Photo" class="swiper-slide">
            <img src="../img/gallery/6.png" alt="Photo" class="swiper-slide">
            <img src="../img/gallery/6.png" alt="Photo" class="swiper-slide">
        </div>

    </div>

</section>